<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>Application</servlet-name>
		<servlet-class>georgovassilis.httprelay.in.ApplicationConfiguration</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>BrowserConnectionReceptorServlet</servlet-name>
		<servlet-class>georgovassilis.httprelay.in.PublicRelayServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>

	<servlet>
		<servlet-name>TasksRelayToServerServlet</servlet-name>
		<servlet-class>georgovassilis.httprelay.in.TaskHubServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>BrowserConnectionReceptorServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TasksRelayToServerServlet</servlet-name>
		<url-pattern>/relay/tasks</url-pattern>
	</servlet-mapping>

</web-app>